body {
    overflow-x: hidden;
}


.profile-container {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    align-items:flex-start;
    justify-content: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.profile-title {
    font-weight: 800;
    color: #504DFF;
}

.profile-img>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #504DFF;
    object-fit: cover;
}

.tasks-summary-card,
.profile-details-card {
    height: fit-content;
    padding: 15px 50px;
    border-radius: 10px;
    margin: 10px;
}

li>span {
    font-style: italic;
    color: #504DFF;
}

.feedbacks{
    min-height: 300px;
}
#fedd {
    height: 270px;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}
.ratings{
    min-height: 300px;
}
.ratings>ul>li{
    padding: 5px 0;
    font-size: 2rem;
}